@font-face {
    font-family: chomsky;
    src: url(fonts/Chomsky.otf);
}

@font-face {
    font-family: robo;
    src: url(fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: robo;
    src: url(fonts/Roboto-Italic.ttf);
    font-style: italic;

}

@font-face {
    font-family: orbitron;
    src: url(https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap);
}

@font-face {
    font-family: 'VT323', monospace;
    src: url(https://fonts.googleapis.com/css2?family=VT323&display=swap);
}

body {
    background-color: black;
}




/***index***/
.index-img {
    width: 100%;
    margin-top: 250px;
    text-align: center;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 300px;
    font-family: 'Times New Roman', Times, serif;
    color: greenyellow;
}

.landing-page-link {
    text-align: center;
    color: greenyellow;
    font-size: 30px;
    padding: 20px;
    width: 100%;

}

.landing-page-link {
    font-family: chomsky;
}

hr {
    border-color: rgb(68, 68, 68);
    border-width: 2px;
}

/***about***/
.header {
    font-family: chomsky;
    text-align: center;
    font-size: 60px;
    color: orangered;

}

.middle {
    text-align: left;
    color: greenyellow;
    padding: 20px;
    margin-top: 0px;
    
}

.pfp {
    width: 300px;
    height: 400px;
    text-align: right;
    border-radius: 60%;
    margin-left: 200px;
    transition: 2s;
}

.pfp:hover {
    transform: rotate(360deg);
}


.bodytext {
    font-family: VT323;
    padding: 10px;
    font-size: 25px;
}

.backhome {
    font-family: chomsky;
    font-size: 30px;
    margin-top: 180px;
    text-align: center;
    color: chartreuse;
}

/***cv***/
.container {
    color: rgb(100, 237, 100);
}

.cvheader {
    font-weight: bold;
    font-family: orbitron;
}
.cvitem {
    font-family: VT323;
    font-size: 28px;
}
.cvlist{
    font-family: VT323;
    font-size: 23px;
}

/*** JUMBOTRON ***/

.jumbotron {
    background-size: 80%;
    background-position: 100px;
    background-image: url("../assets/rhizome.png");

    text-align: center;
    color: #fff;
    padding: 3%;
    border-radius: 0px;
}


.jumbotron h2 {
    font-family: chomsky;
    font-size: 48px;
    color: orangered;



}

.img-responsive {
    width: 100%;
}

/***portfolio***/
.card {
    background-color: #fff;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
    padding: 0px;
    opacity: 1;
    transition: 1s; 
}

.card:hover {
    background-color: greenyellow;
    border-color: orangered;
    padding: 10px;
    border-width: 5px;

}

.imgemiss {
    width: 100%;
    text-align: center;
}

.txtemiss {
    font-family: VT323;
    color:rgb(100, 237, 100);
    text-align: center ;
    padding:10px;
    font-size: 20px;
}

.card p {
    font-family: VT323;
    font-size: 20px;}

    .humimg{width: 100%;
    text-align: center; }

.imgreun{
    width: 100%;
    text-align: center;
}